{% extends 'base.html' %}
{% block head %}
  <title>Url shortener</title>
{% endblock %}
{% block body %}
  <h1>Welcome to url shortener</h1>

  {% include 'link/form.html' %}

  {% if messages %}
    <p>
      {% for message in messages %}
        {% if message.level_tag == 'success' %}
          Success! your url is: <a href="{{ message }}">{{ message }}</a>
          <div id="qrcode"></div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous"></script>
          <script>
            new QRCode('qrcode', '{{ message }}')
          </script>
        {% else %}
          {{ message }}
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}